<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>PAD Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Sách", "Index", "Sach", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Thể loại", "Index", "LoaiSach", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #img-logo {
        width: 126px;
        height: 58px;
    }

    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
        padding-bottom: 0px;
    }

    .navbar-nav > li > a {
        padding-top: 21px;
        padding-bottom: 15px;
    }

    .navbar-fixed-top {
        top: 0;
        padding: 8px;
        background-color: #0c6363;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: 16px;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: #FF2;
            background-color: transparent;
        }

    .navbar-nav > li > .dropdown-menu {
        margin-top: -5px;
        margin-left: 13px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: #0c6363;
    }

    .container-footer {
        display: inline-flex;
        flex-wrap: wrap;
        background-color: #24262b;
        padding: 40px 20px 20px 20px;
        width: 100%;
    }

    ul {
        list-style: none;
    }

    .footer-col {
        width: 25%;
        padding: 0 45px;
    }

        .footer-col h4 {
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
        }

            .footer-col h4::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                background-color: #e91e63;
                height: 2px;
                box-sizing: border-box;
                width: 50px;
            }

        .footer-col ul li:not(:last-child) {
            margin-bottom: 10px;
        }

        .footer-col p {
            color: #bbbbbb;
        }

        .footer-col ul li a {
            font-size: 16px;
            text-transform: capitalize;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
        }

            .footer-col ul li a:hover {
                color: #ffffff;
                padding-left: 8px;
            }

        .footer-col .social-links a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color: rgba(255,255,255,0.2);
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;
        }

            .footer-col .social-links a:hover {
                color: #24262b;
                background-color: #ffffff;
            }

    .copyright {
        background-color: #24262b;
        margin: 0;
        color: white;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
</style>